# **Data Science Tools And Ecosystem**

### In this notebook, Data Science Tools and Ecosystem are summarized.
 **Objectives:**
- List Of Popular Languages Used In Data Science.
- List Of Commonly Used Libraries.
- List Os Tools Used in Data Science.

#### Some of the popular languages that Data Scientists use are:

``` 
   1. Python
   2. SQL
   3. R
   4. Java
```

#### Some of the commonly used libraries used by Data Scientists include:
``` 
   1.Pandas
   2.Numpy
   3.Matplotlib
```

|Data science Tool|
|---------|
|Tensor flow|
|Jupyter Notebooks|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Akhilesh Pratap Singh Rathore